@font-face{
    font-family:"Gilroy Bold";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Bold.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Bold.woff") format("woff")
}

.gilroy-bold {
    font-family: "Gilroy Bold";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Extra Bold";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-ExtraBold.eot");
    src:url("/fonts/gilroy/eot/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-ExtraBold.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-ExtraBold.woff") format("woff")
}

.gilroy-extrabold {
    font-family: "Gilroy Extra Bold";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Medium";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Medium.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Medium.woff") format("woff")
}

.gilroy-medium {
    font-family: "Gilroy Medium";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Semi Bold";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-SemiBold.eot");
    src:url("/fonts/gilroy/eot/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-SemiBold.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-SemiBold.woff") format("woff")
}

.gilroy-semibold {
    font-family: "Gilroy Semi Bold";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Light";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Light.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Light.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Light.woff") format("woff")
}

.gilroy-light {
    font-family: "Gilroy Light";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Thin";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Thin.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Thin.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Thin.woff") format("woff")
}

.gilroy-thin {
    font-family: "Gilroy Thin";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy UltraLight";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-UltraLight.eot");
    src:url("/fonts/gilroy/eot/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-UltraLight.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-UltraLight.woff") format("woff")
}

.gilroy-ultralight {
    font-family: "Gilroy UltraLight";
    font-weight: normal;
    font-style: normal;
}
