/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v8/HI_SiYsKILxRpg3hIP6sJ7fM7PqlM-vWjMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v8/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.source-code-pro {
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Bold";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Bold.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Bold.woff") format("woff")
}

.gilroy-bold {
    font-family: "Gilroy Bold";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Extra Bold";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-ExtraBold.eot");
    src:url("/fonts/gilroy/eot/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-ExtraBold.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-ExtraBold.woff") format("woff")
}

.gilroy-extrabold {
    font-family: "Gilroy Extra Bold";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Medium";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Medium.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Medium.woff") format("woff")
}

.gilroy-medium {
    font-family: "Gilroy Medium";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Semi Bold";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-SemiBold.eot");
    src:url("/fonts/gilroy/eot/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-SemiBold.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-SemiBold.woff") format("woff")
}

.gilroy-semibold {
    font-family: "Gilroy Semi Bold";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Light";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Light.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Light.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Light.woff") format("woff")
}

.gilroy-light {
    font-family: "Gilroy Light";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy Thin";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-Thin.eot");
    src:url("/fonts/gilroy/eot/Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-Thin.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-Thin.woff") format("woff")
}

.gilroy-thin {
    font-family: "Gilroy Thin";
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Gilroy UltraLight";
    font-weight:normal;
    font-style:normal;
    src:url("/fonts/gilroy/eot/Gilroy-UltraLight.eot");
    src:url("/fonts/gilroy/eot/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/gilroy/woff2/Gilroy-UltraLight.woff2") format("woff2"),
    url("/fonts/gilroy/woff/Gilroy-UltraLight.woff") format("woff")
}

.gilroy-ultralight {
    font-family: "Gilroy UltraLight";
    font-weight: normal;
    font-style: normal;
}
